/* CSS Document */
html,body{letter-spacing: 0.7px;
    font-family: Work Sans;}
/*navigation bar*/
nav 
{
    background-color:rgb(21, 21, 48);
    
}
#sidebar{
  position: fixed;
  height: 100%;
  width: 250px;
  background: rgb(1, 5, 34);
  margin-top:55px;
}

 .list-items{
  position: relative;
  background: #030324;
  width: 250px;
  height: 100%;
  list-style: none;
}
 .list-items li{
  padding-left: 0px;
  line-height: 25px;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
}
.list-items li:hover{
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #222;
}
 .list-items li:first-child{
  border-top: none;
}
 .list-items li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  height: 100%;
  width: 200px;
  display: inline-flex;
}
 .list-items li a i{
  margin-right: 5px;
}
 .btn_delete,.btn_plus{color:white;}
 .btn_plus{margin-top:5px;}
.plus_li {
    height: 50px;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    
}
 .plus_a{position:absolute;
        margin-top:10px;
 }
.btn_delete:hover{color:red;}
.btn_plus:hover{color: cyan;}

.bg-color {
    background-color: white;
    width: 100%;
    height: 100%;
    float: left;
    position: fixed;
    margin-left: 250px;
}

h1{
	text-align: center;
	font-family: cursive;
	font-size: 80px;
	color: black;
}


.container {
  position: relative;
  text-align: center;
  margin-top: 10%;
  color: #2A2A2A;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  font-size: 50px;	
}

*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	color: rgb(107, 98, 98);
	
}
/* style for flipping card starts here */

.flipping-cards{
    margin-top: -3rem;
    padding: 2rem 0;
    background-color: white;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 25px;

}

.flipping-card-wrapper{
    padding-left: 0rem;
    margin: 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.flipping-card-item-wrapper{
    perspective: 150rem;
    position: relative;
    width:   242px;
    height:  380px;
    margin: 1rem;
}

.flipping-card-item-side{
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    margin:  1.5rem;
    width: 100%;
    height: 100%;
    background-position: center;
    background-color: #010120;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.18);
    transition: all 1s;
}


.flipping-card-item-side-back{
    color: #000;
    transform: rotateY(180deg);
}


.flipping-card-item-wrapper:hover .flipping-card-item-side-front{
    transform: rotateY(-180deg);
}

.flipping-card-item-wrapper:hover .flipping-card-item-side-back{
    transform: rotateY(0);
}

.flipping-card-item-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-blend-mode: color;
}

.flipping-card-back-wrapper{
    font-weight: 200;
    position: relative;
    top: 25%;
    left: 0;
    margin: 2rem;
    text-align: center;
}

.flipping-card-back-wrapper__btn {
    margin-top: 2rem;
    padding: .7rem;
    text-align: center;
    color: #fff;
    border: 0;
    background-image: linear-gradient(to right, rgb(21, 21, 48), #47a3be, #f5ebb4, #100453);
	transition: all .5s;
	width: 100px;
	font-size: 15px;
	font-weight: 500;
	font-family: karla;
	border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;

}

.flipping-card-back-wrapper__btn:hover {
    background-image: gray;
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
	border: none;
	background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-hover:focus {
    outline: none;
}

#anniversery_party{
	display:none;
}

.container1{
    padding-top: 2%;
    padding-left: 10%;
    padding-bottom: 0%;
}

.input1{
    padding-left: 40px;
}

.btn.btn-sm.rounded-0{
    font-size: 21px;
} 




