/* CSS Document */
html{scroll-behavior: smooth;}
html,body{letter-spacing: 0.7px;
    font-family: Work Sans;}
/*navigation bar*/
nav 
{
    background-color:rgb(21, 21, 48);
    
}
header{
	position:relative;
	background-color:white;
	height:100vh;
	min-height:25rem;
	width:100%;
	overflow:hidden;
}

header video{
	
	top:10%;
	left:50%;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	z-index:0;
	-ms-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	-webkit-transform:translateX(-50%) translateY(-50%);
	position:fixed;
}

/*@keyframes bg_video{
	from{left:-50%;}
	to{left:50%;}
}
video{animation:bg_video;
	animation-duration:4s;
}*/




.parallax{
	height:300px;
	paddingom:50px;
	padding-top:50px;
	}

header .container{
	position:relative;
	z-index:2;
}

header.overlay{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:black;
	opacity:0.5;
	z-index:1;
}

@keyframes btn{
	from{top:100%;}
	to{top:40%;}
}

.btn1 {
 position: absolute;
 top: 40%;
 left:50%;
 transform: translate(-50%,-50%);
 font-size: 2vw;
 text-decoration: none;
 padding:10px;
 color:black;
 background:linear-gradient(45deg,#BF953F,#FCF6BA,#B38728,#FBF5B7,#B38728);
 background-size: 400%;
 border-radius: 30px;
 z-index: 1; 
}
.btn1:hover {
 animation: animate 8s linear infinite;
	text-decoration: none;
	color:black;
	cursor:pointer;
}
.btnb {
    
    border: none;
    
}
@keyframes animate {
 0% {
  background-position: 0%;
 }
 100% {
  background-position: 400%;
 }

}
.btn1:before {
 content: '';
 position: absolute;
 top: -5px;
 bottom: -5px;
 right: -5px;
 left: -5px;
 z-index: -1;
 background:linear-gradient(45deg,#BF953F,#FCF6BA,#B38728,#FBF5B7,#B38728);
 background-size: 400%;
 border-radius: 40px;
 filter: blur(20px);
 opacity: 0;
 transition: 0.5s;
}
.btn1:hover:before {
 filter: blur(20px);
 opacity: 1;
 animation: animate 8s linear infinite;
}

.searchbtn{border-color:white;
           border-style:solid;
	border-width:1.5px;
   margin-left:0px;}


.bg-color-white{background-color:white;}
.section{position:absolute;
         min-width:100%;}
.section_1,.section_2{margin-top:5%;text-align:left;}
.section_para{width:50%;}

.nav_animation{
	animation:nav;
	animation-duration:4s;
}

@keyframes nav{
	from{margin-top:-1000px;}
	to{}

}

.about_us{margin_top:10%;}
.as_span{width:100%;
 background:linear-gradient(45deg,#BF953F,#FCF6BA,#B38728,#FBF5B7,#B38728);
display:block;
height:5px;
margin-top:10px;}


/*footer*/

.footer
{
    margin-top: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background-color: rgb(21, 21, 48);
    color: white;
    padding: 15px;
    font-size: 15px;
    line-height: 2.0;

}
.row .col-sm-12
{
    text-align: center;
}
.row .col-md-4
{
    text-align: center;
}
.row .col-sm-4 h5
{
    color:#e6d8ce ;
    text-transform: uppercase;
    letter-spacing: 0;

}

.row .col-md-4 .fa
{
    background-color:#e6d8ce;
    padding: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 50%;
    border: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    
}